div {
  background-image: linear-gradient( rgba(64, 64, 64, 1), rgba(217, 90, 43,1), rgba(64, 64, 64, 1));
}

.App {
  color: #EEF266;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding:0;
  overflow-x:hidden;
  overflow-y: hidden;
  list-style: none;
  font-family: 'Bebas Neue', cursive;
}

.movieLink{
  color:#EEF266;

}

.movieLink:hover{
  color: #0080ff;
}